/*.lt_pro_name {*/

/*}*/
.itembox{
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.lt_price .price{
  color: #FF3737;
}

.lt_price .old{
  font-size: 12px;
  text-decoration: line-through;
  color: #666;
}

.lt_size span{
  display: inline-block;
  height: 25px;
  line-height: 25px;
  padding: 0 3px;
  margin: 4px 0;
  border: 1px solid #ccc;
  background-color: #F5F5F5;
  font-size: 14px;
}

.lt_size span.current{
  background-color: #069;
  color: #fff;
}
.lt_num span{
  font-size: 12px;
  color: #666;

}

.lt_go_cart{
  border-top:2px solid red;
  height: 55px;
  line-height: 55px;
}

.cart{
  margin: 10px 10px 0 10px;
}

.lt_edit_size span.current{
  background-color: #069;
  color: #fff;
}