.history{
  padding: 10px;
}
.history_title{
  height: 30px;
  font-size: 12px;
  color: #666;
}

.history_title span {
  height: 30px;
  line-height: 30px;

}

.history_content ul{
  border:1px dashed red;
}
.history_content ul li{
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  border-bottom: 1px dashed red;
}
.history_content ul li:last-of-type{
  border-bottom: none;
}